body {
	background: black;
}

button {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}

.container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background: black;
}

#map {
	position: absolute;
	top: calc((1080px - 988px) / 2);
	left: calc((1920px - 1080px) / 2);
	width: 1080px;
	height: 988px;
	background: url(https://cdn.discordapp.com/attachments/645421911181885471/708820922286473277/WorldMap.png) no-repeat;
}

.area1 {
	position: absolute;
	top: 492px;
	left: 0px;
	width: 244px;
	height: 259px;
	border: 3px transparent solid;
}

.area2 {
	position: absolute;
	top: 754px;
	left: 169px;
	width: 382px;
	height: 228px;
	border: 3px transparent solid;
}

.area3 {
	position: absolute;
	top: 754px;
	left: 554px;
	width: 213px;
	height: 213px;
	border: 3px transparent solid;
}

.area4 {
	position: absolute;
	top: 400px;
	left: 770px;
	width: 258px;
	height: 413px;
	border: 3px transparent solid;
}

.area5 {
	position: absolute;
	top: 677px;
	left: 246px;
	width: 521px;
	height: 74px;
	border: 3px transparent solid;
}

.area6 {
	position: absolute;
	top: 384px;
	left: 246px;
	width: 182px;
	height: 291px;
	border: 3px transparent solid;
}

.area7 {
	position: absolute;
	top: 492px;
	left: 431px;
	width: 336px;
	height: 183px;
	border: 3px transparent solid;
}

.area8 {
	position: absolute;
	top: 354px;
	left: 939px;
	width: 135px;
	height: 336px;
	border: 3px transparent solid;
}

.area9 {
	position: absolute;
	top: 0px;
	left: 277px;
	width: 105px;
	height: 381px;
	border: 3px transparent solid;
}

.item {
	border: 2px transparent solid;
	width: 14px;
	height: 14px;
	z-index: 2;
}

#item1 {
	position: absolute;
	top: calc((15px * 9) + 1px);
	left: calc((15px * 5) - 1px);
	background: url(items/DataDisruptor.svg);
}

#item2 {
	position: absolute;
	top: calc((15px * 2) - 2px);
	right: calc((15px * 0) - 2px);
	background: url(items/Nova.svg);
}

#item3 {
	position: absolute;
	top: calc((15px * 5) - 0.5px);
	left: calc((15px * 7) - 0px);
	background: url(items/SizeNode.svg);
}

#item4 {
	position: absolute;
	top: calc((15px * 7) - 0px);
	right: calc((15px * 0) - 2px);
	background: url(items/Drill.svg);
}

#item5 {
	position: absolute;
	top: calc((15px * 8) + 0.75px);
	right: calc((15px * 2) - 1.5px);
	background: url(items/PowerNode.svg);
}

#item6 {
	position: absolute;
	top: calc((15px * 3) - 1.5px);
	right: calc((15px * 7) + 0.5px);
	background: url(items/MultiDisruptor.svg);
}

#item7 {
	position: absolute;
	bottom: calc((15px * 0) - 2.5px);
	right: calc((15px * 1) - 1px);
	background: url(items/HealthNode.svg);
}

#item8 {
	position: absolute;
	top: calc((15px * 6) - 1px);
	left: calc((15px * 4) - 1px);
	background: url(items/HealthNodeFragment.svg);
}

#item9 {
	position: absolute;
	top: calc((15px * 8) + 0px);
	left: calc((15px * 8) + 0.5px);
	background: url(items/Kilver.svg);
}

#item10 {
	position: absolute;
	top: calc((15px * 3) - 1.75px);
	left: calc((15px * 6) + 0px);
	background: url(items/HealthNodeFragment.svg);
}

#item11 {
	position: absolute;
	top: calc((15px * 6) - 0.5px);
	left: calc((15px * 13) + 2px);
	background: url(items/AddressDisruptor1.svg);
}

#item12 {
	position: absolute;
	bottom: calc((15px * 1) - 2px);
	right: calc((15px * 4) + 0px);
	background: url(items/HealthNodeFragment.svg);
}

#item13 {
	position: absolute;
	top: calc((15px * 7) + 0px);
	left: calc((15px * 0) - 2px);
	background: url(items/PowerNodeFragment.svg);
}

#item14 {
	position: absolute;
	top: calc((15px * 7) + 2px);
	left: calc((15px * 15) + 3.35px);
	background: url(items/HealthNodeFragment.svg);
}

#item15 {
	position: absolute;
	top: calc((15px * 10) + 1px);
	left: calc((15px * 15) + 3px);
	background: url(items/SizeNode.svg);
}

#item16 {
	position: absolute;
	bottom: calc((15px * 3) - 1.5px);
	left: calc((15px * 13) + 2px);
	background: url(items/DigitalPaper.svg);
}

#item17 {
	position: absolute;
	top: calc((15px * 9) + 0.5px);
	left: calc((15px * 18) + 4px);
	background: url(items/DigitalPaper.svg);
}

#item18 {
	position: absolute;
	top: calc((15px * 10) + 1.25px);
	right: calc((15px * 3) - 2px);
	background: url(items/HealthNodeFragment.svg);
}

#item19 {
	position: absolute;
	top: calc((15px * 12) + 1.5px);
	left: calc((15px * 24) + 6.5px);
	background: url(items/PowerNode.svg);
}

#item20 {
	position: absolute;
	bottom: calc((15px * 3) - 1.5px);
	left: calc((15px * 5) - 1.5px);
	background: url(items/HighJump.svg);
}

#item21 {
	position: absolute;
	bottom: calc((15px * 3) - 1px);
	left: calc((15px * 5) - 1px);
	background: url(items/HealthNodeFragment.svg);
}

#item22 {
	position: absolute;
	top: calc((15px * 3) - 2px);
	left: calc((15px * 7) + 0px);
	background: url(items/DigitalPaper.svg);
}

#item23 {
	position: absolute;
	top: calc((15px * 1) - 2px);
	right: calc((15px * 1) - 1.5px);
	background: url(items/GlitchTeleport.svg);
}

#item24 {
	position: absolute;
	bottom: calc((15px * 5) - 0px);
	left: calc((15px * 4) - 2.5px);
	background: url(items/Firewall.svg);
}

#item25 {
	position: absolute;
	bottom: calc((15px * 4) - 0.5px);
	left: calc((15px * 7) + 0px);
	background: url(items/DigitalPaper.svg);
}

#item26 {
	position: absolute;
	bottom: calc((15px * 0) - 2.5px);
	left: calc((15px * 7) + 0px);
	background: url(items/DigitalPaper.svg);
}

#item27 {
	position: absolute;
	bottom: calc((15px * 3) - 1.5px);
	right: calc((15px * 7) + 0px);
	background: url(items/RangeNode.svg);
}

#item28 {
	position: absolute;
	bottom: calc((15px * 2) - 1px);
	left: calc((15px * 3) - 2px);
	background: url(items/RangeNode.svg);
}

#item29 {
	position: absolute;
	bottom: calc((15px * 4) - 0.5px);
	left: calc((15px * 2) - 2.5px);
	background: url(items/TendrilsTop.svg);
}

#item30 {
	position: absolute;
	top: calc((15px * 4) - 1.5px);
	right: calc((15px * 4) - 0.5px);
	background: url(items/HealthNodeFragment.svg);
}

#item31 {
	position: absolute;
	bottom: calc((15px * 5) + 0px);
	right: calc((15px * 5) + 0px);
	background: url(items/SizeNode.svg);
}

#item32 {
	position: absolute;
	top: calc((15px * 1) - 2px);
	right: calc((15px * 4) - 0.5px);
	background: url(items/HealthNode.svg);
}

#item33 {
	position: absolute;
	bottom: calc((15px * 6) + 0px);
	left: calc((15px * 0) - 3px);
	background: url(items/PowerNode.svg);
}

#item34 {
	position: absolute;
	bottom: calc((15px * 15) + 4px);
	left: calc((15px * 6) - 0.5px);
	background: url(items/DroneGun.svg);
}

#item35 {
	position: absolute;
	bottom: calc((15px * 5) - 0.5px);
	left: calc((15px * 2) - 2px);
	background: url(items/DigitalPaper.svg);
}

#item36 {
	position: absolute;
	top: calc((15px * 2) - 2.5px);
	left: calc((15px * 7) + 0px);
	background: url(items/PowerNodeFragment.svg);
}

#item37 {
	position: absolute;
	bottom: calc((15px * 2) - 1.5px);
	right: calc((15px * 5) + 0px);
	background: url(items/DigitalPaper.svg);
}

#item38 {
	position: absolute;
	top: calc((15px * 0) - 3px);
	right: calc((15px * 7) + 0px);
	background: url(items/HealthNodeFragment.svg);
}

#item39 {
	position: absolute;
	bottom: calc((15px * 4) - 0.5px);
	right: calc((15px * 3) - 0.75px);
	background: url(items/HealthNodeFragment.svg);
}

#item40 {
	position: absolute;
	bottom: calc((15px * 1) - 1.5px);
	right: calc((15px * 5) + 0px);
	background: url(items/PasswordTool.svg);
}

#item41 {
	position: absolute;
	bottom: calc((15px * 1) - 1.5px);
	right: calc((15px * 3) - 0.75px);
	background: url(items/DigitalPaper.svg);
}

#item42 {
	position: absolute;
	top: calc((15px * 5) - 1.5px);
	left: calc((15px * 1) - 2.25px);
	background: url(items/DigitalPaper.svg);
}

#item43 {
	position: absolute;
	top: calc((15px * 6) - 0.65px);
	left: calc((15px * 4) - 2px);
	background: url(items/Voranj.svg);
}

#item44 {
	position: absolute;
	bottom: calc((15px * 6) + 0px);
	left: calc((15px * 5) - 1.5px);
	background: url(items/HealthNodeFragment.svg);
}

#item45 {
	position: absolute;
	bottom: calc((15px * 12) + 2px);
	left: calc((15px * 5) - 1.5px);
	background: url(items/VerticalSpread.svg);
}

#item46 {
	position: absolute;
	bottom: calc((15px * 16) + 4px);
	left: calc((15px * 3) - 2px);
	background: url(items/HealthNodeFragment.svg);
}

#item47 {
	position: absolute;
	bottom: calc((15px * 3) - 1.5px);
	left: calc((15px * 1) - 2.5px);
	background: url(items/AddressDisruptor2.svg);
}

#item48 {
	position: absolute;
	top: calc((15px * 2) - 2px);
	left: calc((15px * 0) - 2px);
	background: url(items/DigitalPaper.svg);
}

#item49 {
	position: absolute;
	top: calc((15px * 1) - 2.5px);
	left: calc((15px * 9) + 1px);
	background: url(items/PowerNodeFragment.svg);
}

#item50 {
	position: absolute;
	top: calc((15px * 1) - 2.5px);
	left: calc((15px * 10) + 1px);
	background: url(items/PowerNodeFragment.svg);
}

#item51 {
	position: absolute;
	bottom: calc((15px * 6) + 0px);
	right: calc((15px * 0) - 2.5px);
	background: url(items/InertialPulse.svg);
}

#item52 {
	position: absolute;
	bottom: calc((15px * 5) + 0px);
	left: calc((15px * 0) - 2px);
	background: url(items/PowerNodeFragment.svg);
}

#item53 {
	position: absolute;
	bottom: calc((15px * 12) + 2px);
	left: calc((15px * 6) - 0.5px);
	background: url(items/HealthNodeFragment.svg);
}

#item54 {
	position: absolute;
	bottom: calc((15px * 16) + 4px);
	right: calc((15px * 7) + 0px);
	background: url(items/HealthNode.svg);
}

#item55 {
	position: absolute;
	top: calc((15px * 6) - 0.5px);
	right: calc((15px * 0) - 2px);
	background: url(items/Grapple.svg);
}

#item56 {
	position: absolute;
	top: calc((15px * 9) + 1px);
	left: calc((15px * 1) - 2px);
	background: url(items/HealthNodeFragment.svg);
}

#item57 {
	position: absolute;
	top: calc((15px * 0) - 3px);
	right: calc((15px * 2) - 1px);
	background: url(items/PowerNodeFragment.svg);
}

#item58 {
	position: absolute;
	bottom: calc((15px * 3) - 1.5px);
	right: calc((15px * 7) + 0px);
	background: url(items/TetheredCharge.svg);
}

#item59 {
	position: absolute;
	top: calc((15px * 7) + 0px);
	left: calc((15px * 8) - 1px);
	background: url(items/DigitalPaper.svg);
}

#item60 {
	position: absolute;
	top: calc((15px * 6) - 0.5px);
	right: calc((15px * 7) + 0px);
	background: url(items/HealthNodeFragment.svg);
}

#item61 {
	position: absolute;
	top: calc((15px * 5) - 1px);
	right: calc((15px * 0) - 2px);
	background: url(items/HealthNodeFragment.svg);
}

#item62 {
	position: absolute;
	top: calc((15px * 3) - 1.5px);
	right: calc((15px * 0) - 2px);
	background: url(items/PowerNode.svg);
}

#item63 {
	position: absolute;
	top: calc((15px * 5) - 1px);
	left: calc((15px * 4) - 2.5px);
	background: url(items/DigitalPaper.svg);
}

#item64 {
	position: absolute;
	top: calc((15px * 4) - 1px);
	left: calc((15px * 4) - 2.5px);
	background: url(items/PowerNodeFragment.svg);
}

#item65 {
	position: absolute;
	top: calc((15px * 4) - 1px);
	right: calc((15px * 5) - 0.5px);
	background: url(items/Reflect.svg);
}

#item66 {
	position: absolute;
	top: calc((15px * 5) - 1px);
	right: calc((15px * 6) + 0px);
	background: url(items/EnhancedLaunch.svg);
}

#item67 {
	position: absolute;
	top: calc((15px * 9) + 1px);
	right: calc((15px * 4) - 1px);
	background: url(items/BlackCoat.svg);
}

#item68 {
	position: absolute;
	bottom: calc((15px * 3) - 1.5px);
	left: calc((15px * 7) + 0px);
	background: url(items/RangeNode.svg);
}

#item69 {
	position: absolute;
	bottom: calc((15px * 1) - 2px);
	right: calc((15px * 2) - 2px);
	background: url(items/PowerNodeFragment.svg);
}

#item70 {
	position: absolute;
	top: calc((15px * 1) - 2px);
	left: calc((15px * 7) - 0.5px);
	background: url(items/DigitalPaper.svg);
}

#item71 {
	position: absolute;
	bottom: calc((15px * 2) - 2px);
	right: calc((15px * 1) - 1px);
	background: url(items/PowerNodeFragment.svg);
}

#item72 {
	position: absolute;
	top: calc((15px * 1) - 2.5px);
	right: calc((15px * 10) + 1.5px);
	background: url(items/DigitalPaper.svg);
}

#item73 {
	position: absolute;
	bottom: calc((15px * 3) - 1px);
	right: calc((15px * 5) - 1px);
	background: url(items/DigitalPaper.svg);
}

#item74 {
	position: absolute;
	bottom: calc((15px * 6) + 0px);
	right: calc((15px * 4) - 1px);
	background: url(items/PowerNodeFragment.svg);
}

#item75 {
	position: absolute;
	top: calc((15px * 7) + 1px);
	right: calc((15px * 2) - 2px);
	background: url(items/PowerNodeFragment.svg);
}

#item76 {
	position: absolute;
	top: calc((15px * 5) + 0px);
	right: calc((15px * 4) - 1px);
	background: url(items/HealthNodeFragment.svg);
}

#item77 {
	position: absolute;
	top: calc((15px * 9) + 1px);
	left: calc((15px * 3) - 1.25px);
	background: url(items/HealthNode.svg);
}

#item78 {
	position: absolute;
	top: calc((15px * 5) + 0px);
	left: calc((15px * 2) - 1.5px);
	background: url(items/DigitalPaper.svg);
}

#item79 {
	position: absolute;
	bottom: calc((15px * 3) + 0px);
	left: calc((15px * 3) - 1.25px);
	background: url(items/DigitalPaper.svg);
}

#item80 {
	position: absolute;
	bottom: calc((15px * 2) - 1px);
	left: calc((15px * 3) - 1.25px);
	background: url(items/HealthNodeFragment.svg);
}

#item81 {
	position: absolute;
	bottom: calc((15px * 2) - 1px);
	right: calc((15px * 9) + 2px);
	background: url(items/DigitalPaper.svg);
}

#item82 {
	position: absolute;
	bottom: calc((15px * 3) + 0px);
	right: calc((15px * 10) + 2px);
	background: url(items/DigitalPaper.svg);
}

#item83 {
	position: absolute;
	bottom: calc((15px * 6) + 1px);
	right: calc((15px * 10) + 2px);
	background: url(items/HealthNodeFragment.svg);
}

#item84 {
	position: absolute;
	top: calc((15px * 4) - 2px);
	right: calc((15px * 9) + 2px);
	background: url(items/DistortionField.svg);
}

#item85 {
	position: absolute;
	bottom: calc((15px * 0) - 2px);
	right: calc((15px * 6) + 1px);
	background: url(items/GlitchBomb.svg);
}

#item86 {
	position: absolute;
	top: calc((15px * 0) - 2.5px);
	right: calc((15px * 2) - 1.5px);
	background: url(items/HealthNode.svg);
}

#item87 {
	position: absolute;
	bottom: calc((15px * 5) - 1px);
	right: calc((15px * 6) + 0px);
	background: url(items/LightningGun.svg);
}

#item88 {
	position: absolute;
	top: calc((15px * 2) - 2.5px);
	left: calc((15px * 8) + 0px);
	background: url(items/PowerNodeFragment.svg);
}

#item89 {
	position: absolute;
	bottom: calc((15px * 2) - 1px);
	right: calc((15px * 6) + 1px);
	background: url(items/PowerNode.svg);
}

#item90 {
	position: absolute;
	bottom: calc((15px * 2) - 1px);
	right: calc((15px * 7) + 1px);
	background: url(items/HealthNode.svg);
}

#item91 {
	position: absolute;
	bottom: calc((15px * 0) - 2px);
	left: calc((15px * 9) - 0px);
	background: url(items/RangeNode.svg);
}

#item92 {
	position: absolute;
	bottom: calc((15px * 0) - 2px);
	left: calc((15px * 7) - 0.5px);
	background: url(items/Shards.svg);
}

#item93 {
	position: absolute;
	bottom: calc((15px * 3) - 0px);
	left: calc((15px * 8) + 2px);
	background: url(items/DigitalPaper.svg);
}

#item94 {
	position: absolute;
	top: calc((15px * 2) - 2px);
	left: calc((15px * 4) - 1.5px);
	background: url(items/DroneTeleport.svg);
}

#item95 {
	position: absolute;
	top: calc((15px * 7) + 0px);
	left: calc((15px * 7) + 0px);
	background: url(items/DigitalPaper.svg);
}

#item96 {
	position: absolute;
	bottom: calc((15px * 3) - 1.5px);
	left: calc((15px * 3) - 1px);
	background: url(items/DataGrenade.svg);
}

#item97 {
	position: absolute;
	top: calc((15px * 0) - 2px);
	right: calc((15px * 2) - 2px);
	background: url(items/TriCone.svg);
}

#item98 {
	position: absolute;
	top: calc((15px * 4) - 2px);
	left: calc((15px * 7) - 0.5px);
	background: url(items/DigitalPaper.svg);
}

#item99 {
	position: absolute;
	top: calc((15px * 6) - 0.5px);
	left: calc((15px * 5) - 1px);
	background: url(items/HealthNode.svg);
}

#item100 {
	position: absolute;
	top: calc((15px * 5) - 1.5px);
	left: calc((15px * 7) - 0.5px);
	background: url(items/PowerNodeFragment.svg);
}

#item101 {
	position: absolute;
	bottom: calc((15px * 2) - 1px);
	left: calc((15px * 4) - 1.5px);
	background: url(items/TendrilsBottom.svg);
}

#item102 {
	position: absolute;
	bottom: calc((15px * 2) - 1px);
	left: calc((15px * 0) - 2px);
	background: url(items/HealthNodeFragment.svg);
}

#item103 {
	position: absolute;
	top: calc((15px * 4) - 2px);
	left: calc((15px * 2) - 2.5px);
	background: url(items/DigitalPaper.svg);
}

#item104 {
	position: absolute;
	top: calc((15px * 3) - 2px);
	right: calc((15px * 1) - 2.5px);
	background: url(items/DigitalPaper.svg);
}

#item105 {
	position: absolute;
	top: calc((15px * 2) - 2.5px);
	left: calc((15px * 6) - 1.5px);
	background: url(items/BreachSuppressor.svg);
}

#item106 {
	position: absolute;
	top: calc((15px * 1) - 2.5px);
	left: calc((15px * 2) - 2.5px);
	background: url(items/PowerNode.svg);
}

#item107 {
	position: absolute;
	bottom: calc((15px * 4) + 0px);
	right: calc((15px * 3) - 2px);
	background: url(items/HealthNodeFragment.svg);
}

#item108 {
	position: absolute;
	bottom: calc((15px * 1) - 2px);
	left: calc((15px * 3) - 2px);
	background: url(items/RedCoat.svg);
}

#item109 {
	position: absolute;
	bottom: calc((15px * 15) + 4px);
	left: calc((15px * 4) - 2.5px);
	background: url(items/IonBeam.svg);
}

#item110 {
	position: absolute;
	bottom: calc((15px * 1) - 1.5px);
	left: calc((15px * 8) + 0.5px);
	background: url(items/PowerNodeFragment.svg);
}

#item111 {
	position: absolute;
	bottom: calc((15px * 0) - 2px);
	left: calc((15px * 4) - 2px);
	background: url(items/PowerNodeFragment.svg);
}

#item112 {
	position: absolute;
	bottom: calc((15px * 6) - 1px);
	left: calc((15px * 2) - 1.5px);
	background: url(items/HealthNode.svg);
}

#item113 {
	position: absolute;
	bottom: calc((15px * 6) - 1px);
	left: calc((15px * 4) - 1px);
	background: url(items/PowerNodeFragment.svg);
}

#item114 {
	position: absolute;
	bottom: calc((15px * 5) - 1.5px);
	left: calc((15px * 4) - 1px);
	background: url(items/DigitalPaper.svg);
}

#item115 {
	position: absolute;
	bottom: calc((15px * 5) - 1.5px);
	left: calc((15px * 5) + 1.25px);
	background: url(items/PowerNodeFragment.svg);
}

#item116 {
	position: absolute;
	bottom: calc((15px * 10) + 0px);
	left: calc((15px * 5) - 1px);
	background: url(items/SizeNode.svg);
}

#item117 {
	position: absolute;
	top: calc((15px * 12) + 1.5px);
	left: calc((15px * 2) - 1.5px);
	background: url(items/DigitalPaper.svg);
}

#item118 {
	position: absolute;
	bottom: calc((15px * 10) + 0px);
	left: calc((15px * 1) - 2px);
	background: url(items/Scythe.svg);
}

#item119 {
	position: absolute;
	top: calc((15px * 7) + 0px);
	left: calc((15px * 3) - 1.5px);
	background: url(items/DigitalPaper.svg);
}

#item120 {
	position: absolute;
	bottom: calc((15px * 3) - 2px);
	right: calc((15px * 5) + 0px);
	background: url(items/WallTrace.svg);
}

#item121 {
	position: absolute;
	top: calc((15px * 3) - 1.5px);
	left: calc((15px * 5) - 1px);
	background: url(items/PowerNodeFragment.svg);
}

#item122 {
	position: absolute;
	top: calc((15px * 4) - 1px);
	left: calc((15px * 1) - 2px);
	background: url(items/FlameThrower.svg);
}

#item123 {
	position: absolute;
	bottom: calc((15px * 5) - 0px);
	left: calc((15px * 3) - 2px);
	background: url(items/Swim.svg);
}

#item124 {
	position: absolute;
	top: calc((15px * 7) + 2px);
	right: calc((15px * 1) - 2.5px);
	background: url(items/DigitalPaper.svg);
}
